{% extends 'dictionary/base.html' %} {% load static %} {% block content %}

<div class="main-content-2">
  <br />
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading text-center">
          <h2 style="margin-top: 1.8em">Bạn cần hỗ trợ?</h2>
          <hr class="divider" />
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#"><i class="fa fa-home"></i> Trang chủ</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Hỗ trợ</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <i class="fa fa-envelope"></i> Liên hệ với chúng tôi
          </div>
          <div class="card-body">
            <form action="" method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="name" style="margin: 5px 0 5px 0;">Tên</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  name="name"
                  aria-describedby="emailHelp"
                  placeholder="Nhập tên"
                  required
                />
              </div>
              <div class="form-group">
                <label for="email" style="margin: 10px 0 5px 0;">Địa chỉ Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  aria-describedby="emailHelp"
                  placeholder="Nhập email"
                  required
                />
                <small id="emailHelp" class="form-text text-muted"
                  >Chúng tôi sẽ không bao giờ chia sẻ email của bạn với bất cứ
                  ai khác.</small
                >
              </div>
              <div class="form-group">
                <label for="subject" style="margin: 10px 0 5px 0;">Nội dung</label>
                <textarea
                  class="form-control"
                  id="subject"
                  name="subject"
                  rows="8"
                  required
                ></textarea>
              </div>
              <br />
              <div class="mx-auto">
                <button type="submit" class="btn btn-primary text-right">
                  Gửi
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="card bg-light mb-3">
          <div class="card-header bg-success text-white text-uppercase">
            <i class="fa fa-home"></i> Địa chỉ liên hệ
          </div>
          <div class="card-body">
            <p>Thành phố Đà Lạt, Lâm Đồng</p>
            <p>01 Phù Đổng Thiên Vương</p>
            <p>Email : email@dlu.edu.vn</p>
            <p>Tel. +84 12 56 11 51 84</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<br />
{% endblock content %}
