
{% extends "dictionary/base.html" %} 
{% load static %} 
{% block content %}

<style>
  #viet {
    display: none;
  }

  #viet.open {
    display: block;
  }
</style>

<div class="main-content-2" style="margin-top: 1.8em; margin-bottom: 1em">
    <br>
    <div class="breadcumb--con">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#"><i class="fa fa-home"></i>Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                          <a href="{% url 'courses:courses' %}">Khóa học</a> 
                        </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="height: auto; min-height:30px">
      <ul class="nav nav-tabs">
        <li class="nav-item">
           
          <a class="nav-link" aria-current="page" href="{% url 'courses:course_detail' idbai %}" data-toggle="tab">Chép bài</a>
            

        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'courses:hoivatraloi' idbai %}" data-toggle="tab">Hỏi và trả lời</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'courses:damthoai' idbai %}" data-toggle="tab">Đàm thoại</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'courses:datcauhoi' idbai %}" data-toggle="tab">Đặt câu hỏi</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'courses:vietdoanvan' idbai %}" data-toggle="tab">Viết đoạn văn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'courses:tuvung' idbai %}" data-toggle="tab">Từ vựng</a>
        </li>
        
    </ul>
    <div class="tab-content contentedit">
      <div class="active tab-pane" id="activity">
        <br>
        <div class="row">
          <div class="col-md-12">
            {% if not damthoai %}
                    <div class="callout callout-info">
                        <h5>Chưa có dữ liệu</h5>
                    </div>
            {% else %}
              <div class="card card-primary card-outline">
                  <div class="card-header">
                    <h5 class="m-0">Đối thoại</h5>
                  </div>
                  <div class="card-body">
                      {% for a in damthoai %}
                          <div class="direct-chat-messages">
                            <div class="direct-chat-msg">
                              <div class="direct-chat-infos clearfix">
                                <span class="direct-chat-name float-left">Bên A</span>
                              </div>
                              
                              <div id="kho" class="direct-chat-text">
                                {{a.cauhoitiengkho}}
                                <p id="viet">{{a.cauhoitiengviet}}</p>
                              </div>
                              
                            </div>
                          
                            <div class="direct-chat-msg right">
                              <div class="direct-chat-infos clearfix">
                                <span class="direct-chat-name float-right">Bên B</span>
                              </div>
                              <div id="kho" class="direct-chat-text">
                                {{a.traloitiengkho}}
                                <p id="viet">{{a.traloitiengviet}}</p>
                              </div>
                            </div>
                          </div>
                      {% endfor %}
                    
                  </div>
                  
              </div>
            {% endif %}
          </div>
      </div>
              

      </div>
    </div>

        

  </div>

    
    
</div>

<script>
  const khos = document.querySelectorAll('#kho')
  const viets = document.querySelectorAll('#viet')

  function showviet(){
    for(const viet of viets){
      viet.classList.add('open')
    }
  }

  for(const kho of khos){
    kho.addEventListener('click',showviet)
  }
</script>
{% endblock %}

