{% extends "dictionary/base.html" %} {% load static %} {% block content %}
<!-- Script btn Dịch -->
<script type="text/javascript">
  (function () {
    function ducQuery(selector) {
      if (!(this instanceof ducQuery))
        // console.log(selector)
        return new ducQuery(selector);
      if (selector === typeof "") {
        this.elements = document.querySelectorAll(selector); // it 's array element
      } else if (selector.nodeName) {
        this.elements = selector;
      }
      return this;
    }
    ducQuery.fn = ducQuery.prototype;

    ducQuery.prototype.each = function (...args) {
      this.elements.forEach(...args);
      return this;
    };
    ducQuery.prototype.addClass = function (className) {
      this.each((element) => {
        className.split(" ").forEach((oneClass) => {
          element.classList.add(oneClass);
        });
      });
      return this;
    };

    ducQuery.prototype.addToolbar = function () {
      // document.execCommand()
      let CSS = `border: 1px solid #AAA;
                background: #FFF;
                font-family: 'Candal';
                border-radius: 1px;
                color: black;
                padding: 5px;
                display : inline-block;
                margin: -2px;
                margin-top: 10px;
                text-decoration: none;
                box-shadow: 0px 1px 0px #CCC;
                transform: translateX(-50%);
                transition: 1s;
                
                `;

      if (
        window.getSelection() &&
        getSelection().hasOwnProperty("getRangeAt")
      ) {
        const { top, left } = getSelection()
          .getRangeAt(0)
          .getBoundingClientRect();
        CSS = `top : ${top}; left : ${left}; position :absolute; `;
      }
      if (this.CSS) {
        CSS += this.CSS;
      }

      //   console.log(this.elements)
      let parent = document.createElement("div");
      parent.innerHTML = `<div id ="toolbarcsacnasjkcnasnckanscnkjas"  style="${CSS}">
            <a href=“#” data-command='bold'><i class="fa fa-search-plus" aria-hidden="true"></i>Dịch</a>
          </div>`;
      //   const childNode = parent.childNodes[0].childNodes.forEach(item => {

      //   })
      //   console.log('child Node' , childNode)
      //   this.test()
      this.elements.parentNode.appendChild(parent);
      this.parentDOM = parent;
      // console.log('sacasc' , ducQuery.elements)
      this.elements.addEventListener("mouseup", (e) => {
        this.selection();
      });
      this.elements.addEventListener("focus", (e) => {
        console.log("focus");
      });
      this.elements.addEventListener("keypress", (e) => {
        // console.log(keyCode)
        switch (e.keyCode) {
          case 13:
            document.createTextNode("sabcjahsbc");
            e.stopPropagation();
            e.preventDefault();
            console.log("enter");
            if (getSelection() && getSelection().rangeCount) {
              const dom = document.createElement("span");
              dom.innerHTML = "nguyen minh duc";
              const selection = getSelection(),
                range = getSelection().getRangeAt(0);
              const br = document.createElement("br");
              range.insertNode(br);
              range.setStartAfter(br);
              range.collapse(true);

              range.removeAllRanges();
              selection.addRange(range);
              range.collapse(true);
              break;
            }
        }
      });
      return this;
    };
    ducQuery.prototype.mouseoutEvent = () => {
      const dom = document.getElementById("toolbarcsacnasjkcnasnckanscnkjas");
      // dom.style.display = 'none'
    };
    ducQuery.prototype.test = () => {
      console.log("test");
    };
    ducQuery.prototype.selection = function () {
      if (window.getSelection()) {
        const dom = document.getElementById("toolbarcsacnasjkcnasnckanscnkjas");
        const { top, left, width } = getSelection()
          .getRangeAt(0)
          .getBoundingClientRect();
        CSS = `top : ${top + 20}px; left : ${
          left + width / 2
        }px; position :absolute;display : inline-block; `;
        dom.style = dom.style.cssText + CSS;
        console.log(top, left, "style", this.elements.style);

        const arrayButton = dom.getElementsByTagName("a");
        for (let i = 0; i < arrayButton.length; i++) {
          arrayButton[i].addEventListener("click", function (e) {
            e.preventDefault();
            console.log(
              "check data command",
              arrayButton[i].getAttribute("data-command")
            );
            const command = arrayButton[i].getAttribute("data-command");
            document.execCommand("styleWithCSS", true);
            if (command == "h1" || command == "h2") {
              document.execCommand("formatBlock", false, command);
              document.execCommand("formatBlock", false, "h2");
            }
            // if(comm)
          });
        }

        return this;
      }
    };
    window.ducQuery = ducQuery;
    return ducQuery;
  })();
  // function test () {

  //    document.execCommand("foreColor", false, "red")

  // }
  // function getDataCommand() {

  // }
</script>
<!-- EndScript btn Dịch -->
<div class="main-content-2" style="margin-top: 1.8em; margin-bottom: 1em">
  <br />
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#"><i class="fa fa-home"></i>Trang chủ</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                <a href="{% url 'courses:courses' %}">Khóa học</a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="height: 800px; min-height: 30px">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a
          class="nav-link"
          aria-current="page"
          href="{% url 'courses:course_detail' idbai %}"
          data-toggle="tab"
          >Chép bài</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="{% url 'courses:hoivatraloi' idbai %}"
          data-toggle="tab"
          >Hỏi và trả lời</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'courses:damthoai' idbai %}" data-toggle="tab">Đàm thoại</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'courses:datcauhoi' idbai %}" data-toggle="tab">Đặt câu hỏi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'courses:vietdoanvan' idbai %}" data-toggle="tab">Viết đoạn văn</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'courses:tuvung' idbai %}" data-toggle="tab">Từ vựng</a>
      </li>
    </ul>
    <div class="tab-content contentedit">
      <div class="active tab-pane" id="activity">
        <br />
        {% if not datcauhoi %}
        <div class="callout callout-info">
          <h5>Chưa có dữ liệu</h5>
        </div>
        {% else %}
          <table class="table table-bordered" style="background-color: #fff;">
            <thead>
                <tr>
                    <th scope="col">Câu hỏi về từ</th>
                    <th scope="col">Mẫu đặt câu hỏi</th>
                    <th scope="col">Ý nghĩa</th>
                </tr>
            </thead>
            {% for datcauhoi in datcauhoi %}
            <tbody>
                <tr>
                    <td>{{datcauhoi.tu}}</td>
                    <td>{{datcauhoi.tiengkho}}</td>
                    <td>{{datcauhoi.tiengviet}}</td>
                </tr>
            </tbody>
            {% endfor %}
          </table>

        </div>
        {% endif %}
        
      </div>
    </div>
  </div>
</div>
<script>
  const dom = document.getElementsByClassName("contentedit")[0];
  //  console.log('toolbar' , toolbar)
  ducQuery(dom).addToolbar();
</script>
{% endblock %}
