
{% extends "dictionary/base.html" %} 
{% load static %} 
{% block content %}
<style>
  .carousel-control-prev-icon {
    background-image: url(../images/previous-32.png);
    width: 32px;
    height: 32px;
}
.carousel-control-next-icon {
    background-image: url(../images/next-32.png);
    width: 32px;
    height: 32px;
}
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">


<div class="main-content-2" style="margin-top: 1.8em; margin-bottom: 1em">
    <br>
    <div class="breadcumb--con">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#"><i class="fa fa-home"></i>Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                          <a href="{% url 'courses:courses' %}">Khóa học</a>
                        </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="height: 900px; min-height:30px">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'courses:course_detail' idbai %}" data-toggle="tab">Chép bài</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'courses:hoivatraloi' idbai %}" data-toggle="tab">Hỏi và trả lời</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'courses:damthoai' idbai %}" data-toggle="tab">Đàm thoại</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="tab">Viết bài đàm thoại</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'courses:datcauhoi' idbai %}" data-toggle="tab">Đặt câu hỏi</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'courses:vietdoanvan' idbai %}" data-toggle="tab">Viết đoạn văn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'courses:tuvung' idbai %}" data-toggle="tab">Từ vựng</a>
        </li>
        
    </ul>
        <div class="tab-content">
            <div class="active tab-pane" id="activity">
              <br>
              {% if not tuvung %}
                    <div class="callout callout-info">
                        <h5>Chưa có dữ liệu</h5>
                    </div>
              {% else %}
              
                <div class="row">
                  <div class="container">
                    {% for a in tuvung %}
                    <div class="card mb-3" style="max-width: 540px; margin: 0px auto">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="{{ a.image.url }}" class="img-fluid rounded-start" height="auto" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">Tiếng K'Ho: {{a.tiengkho}}</h5>
                            <p class="card-text">Tiếng Việt:</b> {{a.tiengviet}}</p>
                            <p class="card-text"><i>Phiên âm: {{a.phienam}}</i></p>
                            <p class="card-text"><small class="text-muted">Ví dụ:</b> {{a.vidu}}</small></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    {%endfor%}
                  </div>     
                </div>
              {% endif %}
                  
              

            </div>
            

            
          </div>
    </div>

    
    
</div>
{% endblock %}

